In [0]:
import numpy as np
import pandas as pd

In [0]:
poi = pd.read_csv("../data/POIs_tracts.csv")
#list(poi.columns.values)
droplist = list(['Unnamed: 0',
 'geometry',
 'statefp10',
 'name10',
 'commarea_n',
 'namelsad10',
 'commarea',
 'notes',
 'countyfp10',
 'centroid'])
poi = poi.drop(droplist, axis=1)
poi.head(1)
len(poi)

# Read poi data

801

In [0]:
poi.head()

,geoid10,Area,accounting,airport,amusement_park,aquarium,art_gallery,atm,bakery,bank,...,train_station,transit_station,travel_agency,university,veterinary_care,zoo,tot_POIs,pub_trans_POIs,dens_tot_POIs,dens_pub_trans_POIs
0,17031010100,3.831672e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,21.0,0.0,54.806359,0.0
1,17031010201,5.072503e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17031010202,3.536575e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,14.137971,0.0
3,17031010300,4.746195e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,18.962557,0.0
4,17031010400,1.157671e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,9.0,0.0,7.774227,0.0

In [0]:
# rides = pd.read_csv(r'C:\Users\mudd\Documents\F19\CTYPLAN 257\Scripts\initialMondays.csv', sep = ',')
# rides.head(1)
ride = poi[['geoid10']].copy()
s = ride['geoid10'].tolist()
ride['dest'] = np.random.choice(s, len(s))
ride['num'] = np.random.choice(10, len(s))

# Create working dataset for ride

In [0]:
dem = pd.read_csv("../data/Pop_data.csv")
print(list(dem.columns.values))
keeplist = ['GEO.id2',
             'Number - Both sexes; Total population',
             'Number - Both sexes; Total population - Median age (years)',
             'Number - Male; Total population - Median age (years)',
             'Number - Female; Total population - Median age (years)']
dem = dem[keeplist]
len(dem)

# Create dem dataframe from pop_data, filter for reqd columns

1468

In [0]:
dem = dem.rename(columns={'GEO.id2': 'geo_id2', 
                         'Number - Both sexes; Total population': 'tot_pop',
                         'Number - Both sexes; Total population - Median age (years)': 'tot_pop_dev',
                         'Number - Male; Total population - Median age (years)': 'male_dev',
                         'Number - Female; Total population - Median age (years)': 'female_dev'})

# Rename columns

In [0]:
print(poi.columns)
print(dem.columns)

# Column check

Index(['geoid10', 'Area', 'accounting', 'airport', 'amusement_park',
       'aquarium', 'art_gallery', 'atm', 'bakery', 'bank',
       ...
       'train_station', 'transit_station', 'travel_agency', 'university',
       'veterinary_care', 'zoo', 'tot_POIs', 'pub_trans_POIs', 'dens_tot_POIs',
       'dens_pub_trans_POIs'],
      dtype='object', length=110)
Index(['geo_id2', 'tot_pop', 'tot_pop_dev', 'male_dev', 'female_dev'], dtype='object')

In [0]:
master = pd.merge(poi,dem,left_on='geoid10',right_on='geo_id2',how='left')
# master.head(1)

# Merge poi with dem

In [0]:
print(master.columns)
print(ride.columns)

# Column check

Index(['geoid10', 'Area', 'accounting', 'airport', 'amusement_park',
       'aquarium', 'art_gallery', 'atm', 'bakery', 'bank',
       ...
       'zoo', 'tot_POIs', 'pub_trans_POIs', 'dens_tot_POIs',
       'dens_pub_trans_POIs', 'geo_id2', 'tot_pop', 'tot_pop_dev', 'male_dev',
       'female_dev'],
      dtype='object', length=115)
Index(['geoid10', 'dest', 'num'], dtype='object')

In [0]:
master = pd.merge(master,ride,left_on='geo_id2',right_on='geoid10',how='left')

# Create master - merge poi, dem and ride

In [0]:
master.head()

,geoid10_x,Area,accounting,airport,amusement_park,aquarium,art_gallery,atm,bakery,bank,...,dens_tot_POIs,dens_pub_trans_POIs,geo_id2,tot_pop,tot_pop_dev,male_dev,female_dev,geoid10_y,dest,num
0,17031010100,3.831672e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,54.806359,0.0,1.703101e+10,4854.0,34.6,35.3,34.0,1.703101e+10,1.703162e+10,1.0
1,17031010201,5.072503e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.703101e+10,6450.0,32.4,32.8,32.1,1.703101e+10,1.703115e+10,2.0
2,17031010202,3.536575e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.137971,0.0,1.703101e+10,2818.0,36.0,35.3,37.0,1.703101e+10,1.703161e+10,7.0
3,17031010300,4.746195e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.962557,0.0,1.703101e+10,6236.0,39.3,38.3,40.5,1.703101e+10,1.703173e+10,4.0
4,17031010400,1.157671e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.774227,0.0,1.703101e+10,5042.0,25.6,28.7,23.0,1.703101e+10,1.703184e+10,3.0

In [0]:
print(master.columns.values)

['geoid10_x' 'Area' 'accounting' 'airport' 'amusement_park' 'aquarium'
 'art_gallery' 'atm' 'bakery' 'bank' 'bar' 'beauty_salon' 'bicycle_store'
 'book_store' 'bowling_alley' 'bus_station' 'cafe' 'car_dealer'
 'car_rental' 'car_repair' 'car_wash' 'casino' 'cemetery' 'church'
 'city_hall' 'clothing_store' 'convenience_store' 'dentist'
 'department_store' 'doctor' 'drugstore' 'electrician' 'electronics_store'
 'embassy' 'finance' 'fire_station' 'florist' 'food' 'funeral_home'
 'furniture_store' 'gas_station' 'general_contractor'
 'grocery_or_supermarket' 'gym' 'hair_care' 'hardware_store' 'health'
 'hindu_temple' 'home_goods_store' 'hospital' 'insurance_agency'
 'jewelry_store' 'laundry' 'lawyer' 'library' 'liquor_store'
 'local_government_office' 'locality' 'locksmith' 'lodging'
 'meal_delivery' 'meal_takeaway' 'mosque' 'movie_rental' 'movie_theater'
 'moving_company' 'museum' 'natural_feature' 'neighborhood' 'night_club'
 'painter' 'park' 'parking' 'pet_store' 'pharmacy' 'physiotherapist'
 'place_of_worship' 'plumber' 'police' 'political' 'post_office' 'premise'
 'primary_school' 'real_estate_agency' 'restaurant' 'roofing_contractor'
 'rv_park' 'school' 'secondary_school' 'shoe_store' 'shopping_mall' 'spa'
 'stadium' 'storage' 'store' 'subway_station' 'supermarket' 'synagogue'
 'taxi_stand' 'tourist_attraction' 'train_station' 'transit_station'
 'travel_agency' 'university' 'veterinary_care' 'zoo' 'tot_POIs'
 'pub_trans_POIs' 'dens_tot_POIs' 'dens_pub_trans_POIs' 'geo_id2'
 'tot_pop' 'tot_pop_dev' 'male_dev' 'female_dev' 'geoid10_y' 'dest' 'num']